{
    acme_ca https://acme.zerossl.com/v2/DV90
    email q.delrive@dechet.ovh
}

play.dechet.ovh {
    encode gzip zstd

    # Blocs étanches : si c'est /api, on interdit l'accès au dossier frontend
    # Au lieu de handle /api*, on utilise handle_path
    handle_path /api* {
        reverse_proxy backend:5000
    }

    handle {
        root * /usr/share/caddy/frontend
        try_files {path} /index.html
        file_server
    }
}