play.dechet.ovh {
    # 1. Le Backend : Dès que ça commence par /api, on envoie vers le conteneur backend
    reverse_proxy /api/* backend:5000

    # 2. Le Frontend : Pour tout le reste, Caddy sert les fichiers statiques du volume du front
    root * /usr/share/caddy/frontend
    encode gzip zstd
    try_files {path} /index.html
    file_server
}